<!doctype html>
<html class="no-js" lang="en">

    <head>
        <!-- meta data -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

        <!--font-family-->
		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&amp;subset=devanagari,latin-ext" rel="stylesheet">
        
        <!-- title of site -->
        <title>Aman Kumar</title>

        <!-- For favicon png -->
		<link rel="shortcut icon" type="image/icon" href="{{url_for('static', filename='assets/logo/favicon.png')}}"/>
       
        <!--font-awesome.min.css-->
        <link rel="stylesheet" href="{{url_for('static', filename='assets/css/font-awesome.min.css')}}">

		<!--flat icon css-->
		<link rel="stylesheet" href="{{url_for('static', filename='assets/css/flaticon.css')}}">

		<!--animate.css-->
        <link rel="stylesheet" href="{{url_for('static', filename='assets/css/animate.css')}}">

        <!--owl.carousel.css-->
        <link rel="stylesheet" href="{{url_for('static', filename='assets/css/owl.carousel.min.css')}}">
		<link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
		
        <!--bootstrap.min.css-->
        <link rel="stylesheet" href="{{url_for('static', filename='assets/css/bootstrap.min.css')}}">
		
		<!-- bootsnav -->
		<link rel="stylesheet" href="{{url_for('static', filename='assets/css/bootsnav.css')}}" >	
        
        <!--style.css-->
        <link rel="stylesheet" href="{{url_for('static', filename='assets/css/style.css')}}">
        
        <!--responsive.css-->
        <link rel="stylesheet" href="{{url_for('static', filename='assets/css/responsive.css')}}">

    </head>

    <body>
		<!-- top-area Start -->
		<header class="top-area">
			<div class="header-area">
			    <nav class="navbar navbar-default bootsnav navbar-fixed dark no-background">

			        <div class="container">

			            <!-- Start Header Navigation -->
			            <div class="navbar-header">
			                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
			                    <i class="fa fa-bars"></i>
			                </button>
			                <a class="navbar-brand" href="/">Aman</a>
			            </div><!--/.navbar-header-->
			            <!-- End Header Navigation -->

			            <!-- Collect the nav links, forms, and other content for toggling -->
			            <div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
			                <ul class="nav navbar-nav navbar-right ms-auto py-4 py-lg-0" >
			                    <li class=" smooth-menu active"></li>
                                <li class="nav-item"><a href="/about">about</a></li>
			                    <li class="nav-item"><a href="/education">education</a></li>
			                    <li class="nav-item"><a href="/skills">skills</a></li>
			                    <li class="nav-item"><a href="/experience">experience</a></li>
			                    <li class="nav-item"><a href="/profiles">profile</a></li>
			                    <!-- <li class="nav-item"><a href="/portfolio">portfolio</a></li> -->
			                    <!-- <li class="nav-item"><a href="/clients">clients</a></li> -->
			                    <li class="nav-item"><a href="/contact">contact</a></li>
                                <!-- <ul class="nav navbar-nav navbar-right ms-auto py-4 py-lg-0" >
                                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/">Home</a></li>
                                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/about">About</a></li>
                                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/contact">Contact</a></li> -->
                            </ul>
			            </div><!-- /.navbar-collapse -->
			        </div><!--/.container-->
			    </nav><!--/nav-->
			    <!-- End Navigation -->
			</div><!--/.header-area-->

		    <div class="clearfix"></div>

		</header><!-- /.top-area-->
		<!-- top-area End -->
        {% block content %}
        {% endblock %}

        		<!--footer-copyright start-->
		<footer id="footer-copyright" class="footer-copyright">
			<div class="container">
				<div class="hm-footer-copyright text-center">
					<p>
						&copy; 2024 all rights reserved. design and developed by <a href="/">Aman Kumar</a>
					</p><!--/p-->
				</div><!--/.text-center-->
			</div><!--/.container-->

			<div id="scroll-Top">
				<div class="return-to-top">
					<i class="fa fa-angle-up " id="scroll-top" ></i>
				</div>
				
			</div><!--/.scroll-Top-->
			
        </footer><!--/.footer-copyright-->
		<!--footer-copyright end-->
		
		<!-- Include all js compiled plugins (below), or include individual files as needed -->

		<script src="{{url_for('static', filename='assets/js/jquery.js')}}"></script>
        
        <!--modernizr.min.js-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
		
		<!--bootstrap.min.js-->
        <script src="{{url_for('static', filename='assets/js/bootstrap.min.js')}}"></script>
		
		<!-- bootsnav js -->
		<script src="{{url_for('static', filename='assets/js/bootsnav.js')}}"></script>
		
		<!-- jquery.sticky.js -->
		<script src="{{url_for('static', filename='assets/js/jquery.sticky.js')}}"></script>
		
		<!-- for progress bar start-->

		<!-- progressbar js -->
		<script src="{{url_for('static', filename='assets/js/progressbar.js')}}"></script>

		<!-- appear js -->
		<script src="{{url_for('static', filename='assets/js/jquery.appear.js')}}"></script>

		<!-- for progress bar end -->

		<!--owl.carousel.js-->
        <script src="{{url_for('static', filename='assets/js/owl.carousel.min.js')}}"></script>


		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
		
        
        <!--Custom JS-->
        <script src="{{url_for('static', filename='assets/js/custom.js')}}"></script>
        
    </body>
	
</html>