{% extends "baseTemplate.html" %}
{% block content %}		
<!--education start -->
		<section id="education" class="education">
			<div class="section-heading text-center">
				<h2>education</h2>
			</div>
			<div class="container">
				<div class="education-horizontal-timeline">
					<div class="row">
						<div class="col-sm-4">
							<div class="single-horizontal-timeline">
								<div class="experience-time">
									<h2>2016 - 2017</h2>
									<h3>High School </h3>
								</div><!--/.experience-time-->
								<div class="timeline-horizontal-border">
									<span class="single-timeline-horizontal"></span>
									<i class="fa fa-circle" aria-hidden="true"></i>
								</div>
								<div class="timeline">
									<div class="timeline-content">
										<h4 class="title">
											St. John's School Marhauli
										</h4>
										<h5>Varanasi, Uttar Pradesh</h5>
										<p class="description">
                                            <span>
                                                <br>
                                                Course Work: <br> Science | Maths | Computer Applications
                                            </span>
                                            <br>
                                            <span>
                                                <em>
                                                    Aggregate Marks: 88.7%
                                                </em>
                                            </span>
										</p>
									</div><!--/.timeline-content-->
								</div><!--/.timeline-->
							</div>
						</div>
						<div class="col-sm-4">
							<div class="single-horizontal-timeline">
								<div class="experience-time">
									<h2>2018 - 2019</h2>
									<h3>Intermediate</h3>
								</div><!--/.experience-time-->
								<div class="timeline-horizontal-border">
									<span class="single-timeline-horizontal"></span>
									<i class="fa fa-circle" aria-hidden="true"></i>
								</div>
								<div class="timeline">
									<div class="timeline-content">
										<h4 class="title">
											St. John's School Marhauli
										</h4>
										<h5>Varanasi, Uttar Pradesh</h5>
										<p class="description">
                                            <span>
                                                <br>
                                                Course Work: <br> Physics | Chemisty | Maths | Computer Science
                                            </span>
                                            <br>
                                            <span>
                                                <em>
                                                    Aggregate Marks: 83.4%
                                                </em>
                                            </span>
										</p>
									</div><!--/.timeline-content-->
								</div><!--/.timeline-->
							</div>
						</div>
						<div class="col-sm-4">
							<div class="single-horizontal-timeline">
								<div class="experience-time">
									<h2>2019 - 2023</h2>
									<h3>bachelor <span>of </span> technology</h3>
								</div><!--/.experience-time-->
								<div class="timeline-horizontal-border">
									<span class="single-timeline-horizontal"></span>
									<i class="fa fa-circle" aria-hidden="true"></i>
								</div>
								<div class="timeline">
									<div class="timeline-content">
										<h4 class="title">
											Indian Institute of Information Technology
										</h4>
										<h5>Kota, Rajasthan</h5>
										<p class="description">
                                            <span>
                                                Branch: Computer Science & Engineering
                                            </span>
                                            <br>                                            
                                            <span>
                                                Course Work:<br> Data Structures and Algorithms | Operating Systems | Database Management System | Object Oriented Programming
                                            </span>
                                            <br>
                                            <span>
                                                <em>
                                                    Aggregate Marks: 7.9 CGPA
                                                </em>
                                            </span>
										</p>
									</div><!--/.timeline-content-->
								</div><!--/.timeline-->
							</div>
						</div>
					</div>
				</div>
			</div>

		</section><!--/.education-->
		<!--education end -->
        {% endblock %}