{% extends "baseTemplate.html" %}
{% block content %}
		<!--experience start -->
		<section id="experience" class="experience">
			<div class="section-heading text-center">
				<h2>experience</h2>
			</div>
			<div class="container">
				<div class="experience-content">
						<div class="main-timeline">
							<ul>
								<li>
									<div class="single-timeline-box fix">
										<div class="row">
											<div class="col-md-5">
												<div class="experience-time text-right">
													<h2>Aug 2024 - Present</h2>
													<h3>Software Developer Engineer</h3>
												</div><!--/.experience-time-->
											</div><!--/.col-->
											<div class="col-md-offset-1 col-md-5">
												<div class="timeline">
													<div class="timeline-content" id="Exp | Basesolve">
														<h4 class="title">
															<span><i class="fa fa-circle" aria-hidden="true"></i></span>
															Basesolve Informatics
														</h4>
														<h5>Ahmedabad, Gujarat</h5>
														<p class="description">
                                                            <span>
                                                                • Refactored codebase from procedural programming to object-oriented design, boosting system performance by 40% and enabling modular, testable code for robust unit testing integration.
                                                            </span>
                                                            <br>
                                                            <span>
                                                                • Implemented unit testing framework with Pytest from scratch and automated testing pipeline using GitHub Actions, enhancing code reliability and CI/CD efficiency.
                                                            </span>
                                                            <br>
                                                            <span>
                                                                • Optimized codebase for processing large datasets using chunking and multiprocessing, preventing memory crashes, reducing memory usage and processing time by 80%.
                                                            </span>
                                                            <br>
                                                            <span>
                                                                • Developed a generic shell script to handle FASTA files and generate statistical reports, streamlining bioinformatics analysis.
                                                            </span>
														</p>
													</div><!--/.timeline-content-->
												</div><!--/.timeline-->
											</div><!--/.col-->
										</div>
									</div><!--/.single-timeline-box-->
								</li>

								<li>
									<div class="single-timeline-box fix">
										<div class="row">
											<div class="col-md-5">
												<div class="experience-time text-right">
													<h2>May 2023 - Apr 2024</h2>
													<h3>Software Developer Engineer(Backend)</h3>
												</div><!--/.experience-time-->
											</div><!--/.col-->
											<div class="col-md-offset-1 col-md-5">
												<div class="timeline">
													<div class="timeline-content">
														<h4 class="title">
															<span><i class="fa fa-circle" aria-hidden="true"></i></span>
															Loyalty Juggernaut Inc
														</h4>
														<h5>Hyderabad, Telangana</h5>
														<p class="description">
                                                            <span>
                                                                • Developed utilities and scripts to automate the data migration process, reducing manuał effort and data errors by 100%.
                                                            </span>
                                                            <br>
                                                            <span>
                                                                • As an individual contributor, I led data migration into two production environments.
                                                            </span>
                                                            <br>
                                                            <span>
                                                                • Managed real time databases such as Postgres, DynamoDB, Couchbase.
                                                            </span>
                                                            <br>
                                                            <span>
                                                                • Integrated multiple time-sensitive features seamlessly, ensuring they were bug-free and delivered on schedułe.
                                                            </span>
                                                            <br>
                                                            <span>
                                                                • Developed a utility to automate Django deployment processes.
                                                            </span>
                                                            <br>
                                                            <span>
                                                                • Techstack Used: Python, Pandas library, SQLAlchemy, Postgres, DynamoDB, AWS Services(Amazon S3, Cloudwatch,
                                                                AWS RDS, AWSGlue), Integrated APIs of (Responsys, Webhook, Sałesforce marketing cloud)														
                                                            </span>														</p>
													</div><!--/.timeline-content-->
												</div><!--/.timeline-->
											</div><!--/.col-->
										</div>
									</div><!--/.single-timeline-box-->
								</li>

                                <li>
									<div class="single-timeline-box fix">
										<div class="row">
											<div class="col-md-5">
												<div class="experience-time text-right">
													<h2>Jan 2023 - May 2023</h2>
													<h3>Software Developer Engineer(Intern)</h3>
												</div><!--/.experience-time-->
											</div><!--/.col-->
											<div class="col-md-offset-1 col-md-5">
												<div class="timeline">
													<div class="timeline-content">
														<h4 class="title">
															<span><i class="fa fa-circle" aria-hidden="true"></i></span>
															Loyalty Juggernaut Inc
														</h4>
														<h5>Hyderabad, Telangana</h5>
														<p class="description">
                                                            <span>
                                                                • Developed a migration script to handle bulk data ingestion for a newly introduced epic in the database.                                                            
                                                            </span>
                                                            <br>
                                                            <span>
                                                                • Implemented integration with an external data syncing APl (salesforce marketing cloud, webhook, responsys).                                                            
                                                            </span>
												        </p>
													</div><!--/.timeline-content-->
												</div><!--/.timeline-->
											</div><!--/.col-->
										</div>
									</div><!--/.single-timeline-box-->
								</li>

							</ul>
						</div><!--.main-timeline-->
					</div><!--.experience-content-->
			</div>

		</section><!--/.experience-->
		<!--experience end -->
{% endblock %}