{% extends "baseTemplate.html" %}
{% block content %}
		<!--welcome-hero start -->
		<section id="welcome-hero" class="welcome-hero">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<div class="header-text">
							<h2>hi <span>,</span> i am <br> Aman Kumar <span> </h2>
							<p>A Software Engineer with a passion for building efficient, scalable systems.
								I specialize in Python, Backend Development, and optimizing complex data workflows.</p>
							<a href="{{url_for('static', filename='assets/download/aman_kumar.pdf')}}" download>download resume</a>
						</div><!--/.header-text-->
					</div><!--/.col-->
				</div><!-- /.row-->
			</div><!-- /.container-->

		</section><!--/.welcome-hero-->
		<!--welcome-hero end -->







{% endblock %}