{% extends "baseTemplate.html" %}	
{% block content %}	
        <!--skills start -->
		<section id="skills" class="skills">
            <div class="skill-content">
                <div class="section-heading text-center">
                    <h2>skills</h2>
                </div>
                <div class="container" id="languages">
                    <div class="container">
                        <div class="skill-header">
                            <h1>Languages</h1>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="single-skill-content">
                                    <div class="barWrapper">
                                        <span class="progressText">Python</span>
                                        <div class="single-progress-txt">
                                            <div class="progress ">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="10" aria-valuemax="100" style="">
                                                    
                                                </div>
                                            </div>
                                            <h3>90%</h3>	
                                        </div>
                                    </div><!-- /.barWrapper -->
                                    <div class="barWrapper">
                                        <span class="progressText">Java</span>
                                        <div class="single-progress-txt">
                                            <div class="progress ">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="10" aria-valuemax="100" style="">
                                                    
                                            </div>
                                            </div>
                                            <h3>85%</h3>	
                                        </div>
                                    </div><!-- /.barWrapper -->
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="single-skill-content">
                                    <div class="barWrapper">
                                        <span class="progressText">C++</span>
                                        <div class="single-progress-txt">
                                            <div class="progress ">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="97" aria-valuemin="10" aria-valuemax="100" style="">
                                                
                                            </div>
                                            </div>
                                            <h3>97%</h3>	
                                        </div>
                                    </div><!-- /.barWrapper -->
                                    <div class="barWrapper">
                                        <span class="progressText">Shell Scripting</span>
                                        <div class="single-progress-txt">
                                            <div class="progress ">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="10" aria-valuemax="100" style="">
                                                    
                                            </div>
                                            </div>
                                            <h3>90%</h3>	
                                        </div>
                                    </div><!-- /.barWrapper -->
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="single-skill-content">
                                    <div class="barWrapper">
                                        <span class="progressText">html 5</span>
                                        <div class="single-progress-txt">
                                            <div class="progress ">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="10" aria-valuemax="100" style="">
                                                    
                                                </div>
                                            </div>
                                            <h3>90%</h3>	
                                        </div>
                                    </div><!-- /.barWrapper -->
                                    <div class="barWrapper">
                                        <span class="progressText">CSS</span>
                                        <div class="single-progress-txt">
                                            <div class="progress ">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="10" aria-valuemax="100" style="">
                                                    
                                            </div>
                                            </div>
                                            <h3>85%</h3>	
                                        </div>
                                    </div><!-- /.barWrapper -->
                                </div>
                            </div>
                        </div><!-- /.row -->
                    </div>
                </div>	<!-- /.container -->
                <div class="container" id="Developer Tools">
                    <div class="container">
                        <h1>Developer Tools</h1>
                        <!-- VS Code, PyCharm, Git, Linux, Docker, Singularity Containers, AWS -->
                        <div class="row">
                            <div class="col-md-3">
                                <div class="single-skill-content">
                                    <div class="barWrapper">
                                        <span class="progressText">VS Code</span>
                                        <div class="single-progress-txt">
                                            <div class="progress ">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="10" aria-valuemax="100" style="">
                                                </div>
                                            </div>
                                            <h3>90%</h3>	
                                        </div>
                                    </div><!-- /.barWrapper -->
                                    <div class="barWrapper">
                                        <span class="progressText">PyCharm</span>
                                        <div class="single-progress-txt">
                                            <div class="progress ">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="10" aria-valuemax="100" style="">
                                                    
                                            </div>
                                            </div>
                                            <h3>85%</h3>	
                                        </div>
                                    </div><!-- /.barWrapper -->
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="single-skill-content">
                                    <div class="barWrapper">
                                        <span class="progressText">Linux</span>
                                        <div class="single-progress-txt">
                                            <div class="progress ">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="97" aria-valuemin="10" aria-valuemax="100" style="">
                                                
                                            </div>
                                            </div>
                                            <h3>97%</h3>	
                                        </div>
                                    </div><!-- /.barWrapper -->
                                    <div class="barWrapper">
                                        <span class="progressText">Git</span>
                                        <div class="single-progress-txt">
                                            <div class="progress ">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="10" aria-valuemax="100" style="">
                                                    
                                            </div>
                                            </div>
                                            <h3>90%</h3>	
                                        </div>
                                    </div><!-- /.barWrapper -->
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="single-skill-content">
                                    <div class="barWrapper">
                                        <span class="progressText">Docker</span>
                                        <div class="single-progress-txt">
                                            <div class="progress ">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="10" aria-valuemax="100" style="">
                                                    
                                                </div>
                                            </div>
                                            <h3>90%</h3>	
                                        </div>
                                    </div><!-- /.barWrapper -->
                                    <div class="barWrapper">
                                        <span class="progressText">Singularity Containers</span>
                                        <div class="single-progress-txt">
                                            <div class="progress ">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="10" aria-valuemax="100" style="">
                                                    
                                            </div>
                                            </div>
                                            <h3>85%</h3>	
                                        </div>
                                    </div><!-- /.barWrapper -->
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="single-skill-content">
                                    <div class="barWrapper">
                                        <span class="progressText">AWS</span>
                                        <div class="single-progress-txt">
                                            <div class="progress ">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="97" aria-valuemin="10" aria-valuemax="100" style="">
                                                
                                            </div>
                                            </div>
                                            <h3>97%</h3>	
                                        </div>
                                    </div><!-- /.barWrapper -->
                                </div>
                            </div>
                        </div><!-- /.row -->
                    </div>
                </div>	<!-- /.container -->
                <div class="container" id="FrameWorks">
                    <div class="container">
                        <h1>FrameWorks</h1>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="single-skill-content">
                                    <div class="barWrapper">
                                        <span class="progressText">Flask</span>
                                        <div class="single-progress-txt">
                                            <div class="progress ">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="10" aria-valuemax="100" style="">
                                                </div>
                                            </div>
                                            <h3>90%</h3>	
                                        </div>
                                    </div><!-- /.barWrapper -->
                                    <div class="barWrapper">
                                        <span class="progressText">REST Apis</span>
                                        <div class="single-progress-txt">
                                            <div class="progress ">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="10" aria-valuemax="100" style="">
                                                    
                                            </div>
                                            </div>
                                            <h3>85%</h3>	
                                        </div>
                                    </div><!-- /.barWrapper -->
                                    <div class="barWrapper">
                                        <span class="progressText">Celery</span>
                                        <div class="single-progress-txt">
                                            <div class="progress ">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="10" aria-valuemax="100" style="">
                                                    
                                            </div>
                                            </div>
                                            <h3>85%</h3>	
                                        </div>
                                    </div><!-- /.barWrapper -->
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="single-skill-content">
                                    <div class="barWrapper">
                                        <span class="progressText">Django</span>
                                        <div class="single-progress-txt">
                                            <div class="progress ">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="97" aria-valuemin="10" aria-valuemax="100" style="">
                                                
                                            </div>
                                            </div>
                                            <h3>97%</h3>	
                                        </div>
                                    </div><!-- /.barWrapper -->
                                    <div class="barWrapper">
                                        <span class="progressText">DjangoRestFrameWork</span>
                                        <div class="single-progress-txt">
                                            <div class="progress ">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="10" aria-valuemax="100" style="">
                                                    
                                            </div>
                                            </div>
                                            <h3>90%</h3>	
                                        </div>
                                    </div><!-- /.barWrapper -->
                                    <div class="barWrapper">
                                        <span class="progressText">Redis</span>
                                        <div class="single-progress-txt">
                                            <div class="progress ">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="10" aria-valuemax="100" style="">
                                                    
                                            </div>
                                            </div>
                                            <h3>85%</h3>	
                                        </div>
                                    </div><!-- /.barWrapper -->
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="single-skill-content">
                                    <div class="barWrapper">
                                        <span class="progressText">Python Toil</span>
                                        <div class="single-progress-txt">
                                            <div class="progress ">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="10" aria-valuemax="100" style="">
                                                    
                                                </div>
                                            </div>
                                            <h3>90%</h3>	
                                        </div>
                                    </div><!-- /.barWrapper -->
                                    <div class="barWrapper">
                                        <span class="progressText">Python Pandas</span>
                                        <div class="single-progress-txt">
                                            <div class="progress ">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="10" aria-valuemax="100" style="">
                                                    
                                            </div>
                                            </div>
                                            <h3>85%</h3>	
                                        </div>
                                    </div><!-- /.barWrapper -->
                                    <div class="barWrapper">
                                        <span class="progressText">Python click for CLI</span>
                                        <div class="single-progress-txt">
                                            <div class="progress ">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="10" aria-valuemax="100" style="">
                                                    
                                            </div>
                                            </div>
                                            <h3>85%</h3>	
                                        </div>
                                    </div><!-- /.barWrapper -->
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="single-skill-content">
                                    <div class="barWrapper">
                                        <span class="progressText">Pytest</span>
                                        <div class="single-progress-txt">
                                            <div class="progress ">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="97" aria-valuemin="10" aria-valuemax="100" style="">
                                                
                                            </div>
                                            </div>
                                            <h3>97%</h3>	
                                        </div>
                                    </div><!-- /.barWrapper -->
                                    <div class="barWrapper">
                                        <span class="progressText">Unit Testing</span>
                                        <div class="single-progress-txt">
                                            <div class="progress ">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="97" aria-valuemin="10" aria-valuemax="100" style="">
                                                
                                            </div>
                                            </div>
                                            <h3>97%</h3>	
                                        </div>
                                    </div><!-- /.barWrapper -->
                                    <div class="barWrapper">
                                        <span class="progressText">C++ STL</span>
                                        <div class="single-progress-txt">
                                            <div class="progress ">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="97" aria-valuemin="10" aria-valuemax="100" style="">
                                                
                                            </div>
                                            </div>
                                            <h3>97%</h3>	
                                        </div>
                                    </div><!-- /.barWrapper -->
                                </div>
                            </div>
                        </div><!-- /.row -->
                    </div>
                </div>	<!-- /.container -->
                <div class="container" id="Databases">
                    <div class="container">
                        <h1>Databases</h1>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="single-skill-content">
                                    <div class="barWrapper">
                                        <span class="progressText">PostGres</span>
                                        <div class="single-progress-txt">
                                            <div class="progress ">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="10" aria-valuemax="100" style="">
                                                    
                                                </div>
                                            </div>
                                            <h3>90%</h3>	
                                        </div>
                                    </div><!-- /.barWrapper -->
                                    <div class="barWrapper">
                                        <span class="progressText">Redis</span>
                                        <div class="single-progress-txt">
                                            <div class="progress ">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="97" aria-valuemin="10" aria-valuemax="100" style="">
                                                
                                            </div>
                                            </div>
                                            <h3>97%</h3>	
                                        </div>
                                    </div><!-- /.barWrapper -->
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="single-skill-content">
                                    <div class="barWrapper">
                                        <span class="progressText">DynamoDB</span>
                                        <div class="single-progress-txt">
                                            <div class="progress ">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="10" aria-valuemax="100" style="">
                                                    
                                                </div>
                                            </div>
                                            <h3>90%</h3>	
                                        </div>
                                    </div><!-- /.barWrapper -->
                                </div>
                            </div>
                        </div><!-- /.row -->
                    </div>
                </div>	<!-- /.container -->
                <div class="container" id="CourseWork">
                    <div class="container">
                        <h1>Course Work</h1>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="single-skill-content">
                                    <div class="barWrapper">
                                        <span class="progressText">Data Structure and Algorithms</span>
                                        <div class="single-progress-txt">
                                            <div class="progress ">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="10" aria-valuemax="100" style="">
                                                    
                                                </div>
                                            </div>
                                            <h3>90%</h3>	
                                        </div>
                                    </div><!-- /.barWrapper -->
                                    <div class="barWrapper">
                                        <span class="progressText">Object Oriented Programming</span>
                                        <div class="single-progress-txt">
                                            <div class="progress ">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="10" aria-valuemax="100" style="">
                                                    
                                            </div>
                                            </div>
                                            <h3>85%</h3>	
                                        </div>
                                    </div><!-- /.barWrapper -->
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="single-skill-content">
                                    <div class="barWrapper">
                                        <span class="progressText">Databse Management System</span>
                                        <div class="single-progress-txt">
                                            <div class="progress ">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="97" aria-valuemin="10" aria-valuemax="100" style="">
                                                
                                            </div>
                                            </div>
                                            <h3>97%</h3>	
                                        </div>
                                    </div><!-- /.barWrapper -->
                                    <div class="barWrapper">
                                        <span class="progressText">Operating System</span>
                                        <div class="single-progress-txt">
                                            <div class="progress ">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="10" aria-valuemax="100" style="">
                                                    
                                            </div>
                                            </div>
                                            <h3>90%</h3>	
                                        </div>
                                    </div><!-- /.barWrapper -->
                                </div>
                            </div>
                        </div><!-- /.row -->
                    </div>
                </div>	<!-- /.container -->	
            </div><!-- /.skill-content-->

    </section><!--/.skills-->
    <!--skills end -->
{% endblock %}